*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#gdg{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}
ul{
    display: flex;
    list-style: none;
    margin-top: 0;
    text-align: end;
    margin-left: 90px;
    font-size: 12px;
    
}
li{
    padding: 3px;
    margin-right: 20px;
}

.mem{
    background-color: rgb(73, 80, 168);
    color: white;
    border-radius: 3px;
}
.abt{
    text-align: center;
}
h4{
    font-weight: 400;
}
p{
    font-weight: 200;
    font-size: 13px;
}
.img1{
    margin-top: 20px;
    margin-left: 450px;
    width: 700px;
    height: 200px;
    padding: 20px;
}
h5{
    text-align: center;
    margin-top: 120px;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 5px;
}
.oga{
    letter-spacing: 0;
}
#tr{
    display: flex;
    justify-content: center;
    margin: 9px
}
.tr4{
    border: rgba(0, 0, 0, 0.042) 0.9px solid;
    margin-left: 15px;
    padding: 10px;
    line-height: 25px; 
    border-radius: 9px;
    display: inline-block;
    background-color: white;
}
.tr3{
    border: rgba(0, 0, 0, 0.042) 0.9px solid;
    padding: 10px;
    line-height: 25px;
    border-radius: 9px;
    background-color: white;
   
}
.tr2{
    
    border: rgba(0, 0, 0, 0.042) 0.9px solid;
    margin-right: 15px;
    padding: 0 0 0 10px;
    line-height: 25px;
    border-radius: 9px;
   background-color: white;
}
section.img3{
    background-color: rgba(255, 255, 240, 0.408);
}
span{
    font-size: 15px;
    font-weight: 800px;
}
.icon{
    padding-left: 25px;
    margin-top: 10px;
}
#tr p{
    text-align: center;
    font-size: 11px;
}
 #no3{
    background-color: blue;
    
}

.proj{
    align-items: center;
    margin-bottom: 25px;
}
.project{
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
}
.allul{
    justify-content: center;
}
.all{
    color: blue;
    border-bottom: blue solid 1px;
    padding-bottom: 6px; 
}
.fingers{
    margin-left: 420px;
    display: flex;
}
.fingers1 img{
    width: 180px;
    height: 100px;
    
}
.fingers2 img{
    width: 180px;
    height: 100px;
    margin-left: 25px;
}
.fingers2+ h4,p+ a{
    margin-left: 25px;
}
.section5{
    text-align: center;
    line-height: 30px;
}
section5, h5{
     letter-spacing: 0;
     font-weight: bold;
     word-spacing: 2px;
}
